{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row spacer">
        <div class="col-12 my-auto">
            <div class="my-5">
            </div>
        </div>
    </div>
    <div class="row card welcome-card text-center mx-auto">
        <div class="col-12 my-auto px-10 text-center card-body">
            <h1 class="display-4 font-header black-text welcome-header">
                Welcome to Hit Record
            </h1>
            <h4 class="font-header black-text px-3 info-header">
                <em>The one-stop shop for all your music needs - tunes, tables, tees & more</em>
            </h4>
            <div class="col-12 my-auto text-center view-btn">
                <h5>
                    <a href="{% url 'products' %}" class="view-button btn btn-md rounded-0 text-uppercase py-3">View All Products Now</a>
                </h5>
            </div>
        </div>
    </div>
</div> 
{% endblock %}